accelerate==1.12.0 ; python_version == "3.13"
aiofiles==25.1.0 ; python_version == "3.13"
altair==5.5.0 ; python_version == "3.13"
annotated-types==0.7.0 ; python_version == "3.13"
antlr4-python3-runtime==4.9.3 ; python_version == "3.13"
anyio==4.11.0 ; python_version == "3.13"
attrs==25.4.0 ; python_version == "3.13"
backoff==2.2.1 ; python_version == "3.13"
beautifulsoup4==4.14.2 ; python_version == "3.13"
bitarray==3.8.0 ; python_version == "3.13"
blinker==1.9.0 ; python_version == "3.13"
cachetools==6.2.1 ; python_version == "3.13"
certifi==2025.11.12 ; python_version == "3.13"
cffi==2.0.0 ; python_version == "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version == "3.13"
click==8.3.0 ; python_version == "3.13"
colorama==0.4.6 ; python_version == "3.13" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version == "3.13"
contourpy==1.3.3 ; python_version == "3.13"
cryptography==46.0.3 ; python_version == "3.13"
cycler==0.12.1 ; python_version == "3.13"
dataclasses-json==0.6.7 ; python_version == "3.13"
deprecated==1.3.1 ; python_version == "3.13"
deprecation==2.1.0 ; python_version == "3.13"
distro==1.9.0 ; python_version == "3.13"
docx2txt==0.9 ; python_version == "3.13"
effdet==0.4.1 ; python_version == "3.13"
emoji==2.15.0 ; python_version == "3.13"
et-xmlfile==2.0.0 ; python_version == "3.13"
filelock==3.20.0 ; python_version == "3.13"
filetype==1.2.0 ; python_version == "3.13"
flatbuffers==25.9.23 ; python_version == "3.13"
fonttools==4.60.1 ; python_version == "3.13"
fsspec==2025.10.0 ; python_version == "3.13"
gitdb==4.0.12 ; python_version == "3.13"
gitpython==3.1.45 ; python_version == "3.13"
google-api-core==2.28.1 ; python_version == "3.13"
google-auth==2.43.0 ; python_version == "3.13"
google-cloud-vision==3.11.0 ; python_version == "3.13"
googleapis-common-protos==1.72.0 ; python_version == "3.13"
grpcio-status==1.76.0 ; python_version == "3.13"
grpcio==1.76.0 ; python_version == "3.13"
h11==0.16.0 ; python_version == "3.13"
h2==4.3.0 ; python_version == "3.13"
hf-xet==1.2.0 ; python_version == "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version == "3.13"
html5lib==1.1 ; python_version == "3.13"
httpcore==1.0.9 ; python_version == "3.13"
httpx==0.28.1 ; python_version == "3.13"
huggingface-hub==0.36.0 ; python_version == "3.13"
humanfriendly==10.0 ; python_version == "3.13"
hyperframe==6.1.0 ; python_version == "3.13"
idna==3.11 ; python_version == "3.13"
jinja2==3.1.6 ; python_version == "3.13"
jiter==0.12.0 ; python_version == "3.13"
joblib==1.5.2 ; python_version == "3.13"
jsonschema-specifications==2025.9.1 ; python_version == "3.13"
jsonschema==4.25.1 ; python_version == "3.13"
kiwisolver==1.4.9 ; python_version == "3.13"
langdetect==1.0.9 ; python_version == "3.13"
lxml==6.0.2 ; python_version == "3.13"
markupsafe==3.0.3 ; python_version == "3.13"
marshmallow==3.26.1 ; python_version == "3.13"
matplotlib==3.10.7 ; python_version == "3.13"
ml-dtypes==0.5.4 ; python_version == "3.13"
mpmath==1.3.0 ; python_version == "3.13"
multidict==6.7.0 ; python_version == "3.13"
mypy-extensions==1.1.0 ; python_version == "3.13"
narwhals==2.11.0 ; python_version == "3.13"
networkx==3.6 ; python_version == "3.13"
nltk==3.9.2 ; python_version == "3.13"
numpy==2.3.4 ; python_version == "3.13"
nvidia-cublas-cu12==12.8.4.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cuda-cupti-cu12==12.8.90 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cuda-nvrtc-cu12==12.8.93 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cuda-runtime-cu12==12.8.90 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cudnn-cu12==9.10.2.21 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cufft-cu12==11.3.3.83 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cufile-cu12==1.13.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-curand-cu12==10.3.9.90 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cusolver-cu12==11.7.3.90 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cusparse-cu12==12.5.8.93 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-cusparselt-cu12==0.7.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-nccl-cu12==2.27.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-nvjitlink-cu12==12.8.93 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-nvshmem-cu12==3.3.20 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
nvidia-nvtx-cu12==12.8.90 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
olefile==0.47 ; python_version == "3.13"
omegaconf==2.3.0 ; python_version == "3.13"
onnx==1.19.1 ; python_version == "3.13"
onnxruntime==1.23.2 ; python_version == "3.13"
openai==1.109.1 ; python_version == "3.13"
opencv-python==4.11.0.86 ; python_version == "3.13"
openpyxl==3.1.5 ; python_version == "3.13"
orjson==3.11.4 ; python_version == "3.13"
packaging==24.2 ; python_version == "3.13"
pandas==2.3.3 ; python_version == "3.13"
pdf2image==1.17.0 ; python_version == "3.13"
pdfminer-six==20251107 ; python_version == "3.13"
pdfreader==0.1.15 ; python_version == "3.13"
pi-heif==1.1.1 ; python_version == "3.13"
pikepdf==10.0.2 ; python_version == "3.13"
pillow==11.3.0 ; python_version == "3.13"
pinecone-plugin-assistant==3.0.1 ; python_version == "3.13"
pinecone-plugin-interface==0.0.7 ; python_version == "3.13"
pinecone==8.0.0 ; python_version == "3.13"
postgrest==2.24.0 ; python_version == "3.13"
propcache==0.4.1 ; python_version == "3.13"
proto-plus==1.26.1 ; python_version == "3.13"
protobuf==6.33.0 ; python_version == "3.13"
psutil==7.1.3 ; python_version == "3.13"
pyarrow==21.0.0 ; python_version == "3.13"
pyasn1-modules==0.4.2 ; python_version == "3.13"
pyasn1==0.6.1 ; python_version == "3.13"
pycocotools==2.0.10 ; python_version == "3.13"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version == "3.13"
pycryptodome==3.23.0 ; python_version == "3.13"
pydantic-core==2.41.5 ; python_version == "3.13"
pydantic==2.12.4 ; python_version == "3.13"
pydeck==0.9.1 ; python_version == "3.13"
pyjwt==2.10.1 ; python_version == "3.13"
pymupdf==1.26.6 ; python_version == "3.13"
pyparsing==3.2.5 ; python_version == "3.13"
pypdf2==3.0.1 ; python_version == "3.13"
pypdf==6.3.0 ; python_version == "3.13"
pypdfium2==5.1.0 ; python_version == "3.13"
pyreadline3==3.5.4 ; python_version == "3.13" and sys_platform == "win32"
pytesseract==0.3.13 ; python_version == "3.13"
python-dateutil==2.9.0.post0 ; python_version == "3.13"
python-dotenv==1.2.1 ; python_version == "3.13"
python-iso639==2025.11.16 ; python_version == "3.13"
python-magic==0.4.27 ; python_version == "3.13"
python-multipart==0.0.20 ; python_version == "3.13"
python-oxmsg==0.0.2 ; python_version == "3.13"
pytz==2025.2 ; python_version == "3.13"
pyyaml==6.0.3 ; python_version == "3.13"
rapidfuzz==3.14.3 ; python_version == "3.13"
realtime==2.24.0 ; python_version == "3.13"
referencing==0.37.0 ; python_version == "3.13"
regex==2025.11.3 ; python_version == "3.13"
requests-toolbelt==1.0.0 ; python_version == "3.13"
requests==2.32.5 ; python_version == "3.13"
rpds-py==0.28.0 ; python_version == "3.13"
rsa==4.9.1 ; python_version == "3.13"
safetensors==0.7.0 ; python_version == "3.13"
scipy==1.16.3 ; python_version == "3.13"
setuptools==80.9.0 ; python_version == "3.13"
six==1.17.0 ; python_version == "3.13"
smmap==5.0.2 ; python_version == "3.13"
sniffio==1.3.1 ; python_version == "3.13"
soupsieve==2.8 ; python_version == "3.13"
storage3==2.24.0 ; python_version == "3.13"
streamlit==1.51.0 ; python_version == "3.13"
strenum==0.4.15 ; python_version == "3.13"
supabase-auth==2.24.0 ; python_version == "3.13"
supabase-functions==2.24.0 ; python_version == "3.13"
supabase==2.24.0 ; python_version == "3.13"
sympy==1.14.0 ; python_version == "3.13"
tenacity==9.1.2 ; python_version == "3.13"
tiktoken==0.12.0 ; python_version == "3.13"
timm==1.0.22 ; python_version == "3.13"
tokenizers==0.22.1 ; python_version == "3.13"
toml==0.10.2 ; python_version == "3.13"
torch==2.9.1 ; python_version == "3.13"
torchvision==0.24.1 ; python_version == "3.13"
tornado==6.5.2 ; python_version == "3.13"
tqdm==4.67.1 ; python_version == "3.13"
transformers==4.57.2 ; python_version == "3.13"
triton==3.5.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.13"
typing-extensions==4.15.0 ; python_version == "3.13"
typing-inspect==0.9.0 ; python_version == "3.13"
typing-inspection==0.4.2 ; python_version == "3.13"
tzdata==2025.2 ; python_version == "3.13"
unstructured-client==0.42.4 ; python_version == "3.13"
unstructured-inference==1.1.1 ; python_version == "3.13"
unstructured-pytesseract==0.3.15 ; python_version == "3.13"
unstructured==0.18.21 ; python_version == "3.13"
urllib3==2.5.0 ; python_version == "3.13"
watchdog==6.0.0 ; python_version == "3.13" and platform_system != "Darwin"
webencodings==0.5.1 ; python_version == "3.13"
websockets==15.0.1 ; python_version == "3.13"
wrapt==2.0.1 ; python_version == "3.13"
yarl==1.22.0 ; python_version == "3.13"
